<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">Other Services</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-toolbox text-dark"> </i>
                </a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="card">
    <div class="card-header">
      <h5 class="h3 mb-0">
        Fill in this form to apply for spouse employment, futher studies or letter of banking purpose.
      </h5>
    </div>
    <div class="card-body">
      <form [formGroup]="registerForm">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="form-control-label">Name</label>
              <input
                class="form-control"
                placeholder="Enter name"
                formControlName="name"
                type="text"
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="form-control-label">ID/Passport number</label>
              <input
                class="form-control"
                placeholder="Passport number"
                formControlName="idnumber"
                type="text"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="form-control-label">Email</label>
              <input
                class="form-control"
                placeholder="Enter email"
                formControlName="email"
                type="text"
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="form-control-label">Association</label>
              <input
                class="form-control"
                placeholder="Enter association/organisation"
                formControlName="association"
                type="text"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="form-control-label">Nationality</label>
              <input
                class="form-control"
                placeholder="Enter nationality"
                formControlName="association"
                type="text"
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="form-control-label">Contact number</label>
              <input
                class="form-control"
                placeholder="Enter contact number"
                formControlName="contact-number"
                type="tel"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label class="form-control-label" for="typeapp">
                Type of application
              </label>

              <select
                (change)="OnChange($event)"
                class="form-control"
                id="typeapp"
              >
                <option value="0">--Please choose</option>
                <option value="1">Spouse employment</option>
                <option value="2">Further studies</option>
                <option value="3">Letter of banking purpose</option>
              </select>
            </div>
          </div>
          <div class="col-6">
            <div *ngIf="typeapp == 1">
              <div class="form-group">
                <label class="form-control-label">Spouse name</label>
                <input
                  class="form-control"
                  placeholder="Enter name"
                  formControlName="name"
                  type="text"
                />
                <!-- <ng-container *ngFor="let message of registerFormMessages.name">
                        <div
                          *ngIf="
                            registerForm.get('name').hasError(message.type) &&
                            (registerForm.get('name').dirty ||
                              registerForm.get('name').touched)
                          "
                        >
                          <p class="error-message">
                            <span>{{ message.message }}</span>
                          </p>
                        </div>
                      </ng-container> -->
              </div>
              <div class="form-group">
                <label class="form-control-label">ID/Passport number</label>
                <input
                  class="form-control"
                  placeholder="Passport number"
                  formControlName="idnumber"
                  type="text"
                />
              </div>
            </div>
          </div>
        </div>
      </form>
      <button class="btn btn-primary" type="button" (click)="confirm()">
        Submit
      </button>
    </div>
  </div>
</div>
