<!-- header -->
<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">
            Application of Identification (ID) Card and Visa
          </h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-address-card text-dark"> </i>
                </a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- body -->
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h6 class="text-muted text-uppercase ls-1 mb-1">Chart</h6>
          <h5 class="h3 mb-0">Number of Applications</h5>
        </div>
        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="idv1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <div class="card">
        <div class="card-header">
          <h6 class="text-muted text-uppercase ls-1 mb-1">Chart</h6>
          <h5 class="h3 mb-0">Type of ID Card</h5>
        </div>
        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="idv2"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="card">
        <div class="card-header">
          <h6 class="text-muted text-uppercase ls-1 mb-1">Chart</h6>
          <h5 class="h3 mb-0">Type of Visa</h5>
        </div>
        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="idv3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col">
              <h5 class="h3 mb-0">List of Applications</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <tabset type="pills">
            <tab heading="Identification (ID) Card">
              <div class="dataTables_wrapper py-4">
                <div class="row">
                  <div class="col">
                    <div class="dataTables_length" id="datatable_length">
                      <label>
                        Show
                        <select
                          name="datatable_length"
                          aria-controls="datatable"
                          class="form-control form-control-sm"
                          (change)="entriesChange($event)"
                        >
                          <option value="10" [selected]="entries == 10">
                            10
                          </option>
                          <option value="25" [selected]="entries == 25">
                            25
                          </option>
                          <option value="50" [selected]="entries == 50">
                            50
                          </option>
                          <option value="-1" [selected]="entries == -1">
                            All
                          </option>
                        </select>
                        entries
                      </label>
                    </div>
                  </div>
                  <div class="col-auto">
                    <a class="btn btn-sm btn-neutral" (click)="openModal(createUserID)">
                      New
                    </a>
                  </div>
                  <div class="col-auto">
                    <div id="datatable_filter" class="dataTables_filter">
                      <label>
                        <input
                          type="search"
                          class="form-control form-control-sm"
                          placeholder="Search records"
                          aria-controls="datatable"
                          (keyup)="filterTable($event)"
                        />
                      </label>
                    </div>
                  </div>
                </div>

                <ngx-datatable
                  class="bootstrap selection-cell"
                  [columnMode]="'force'"
                  [headerHeight]="50"
                  [footerHeight]="50"
                  [rowHeight]="'auto'"
                  [limit]="entries != -1 ? entries : undefined"
                  [rows]="temp"
                  (activate)="onActivate($event)"
                >
                  <ngx-datatable-column name="Name"></ngx-datatable-column>
                  <ngx-datatable-column name="office">
                    <ng-template ngx-datatable-header-template>
                      <span>Association</span>
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.office }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="type"
                    ><ng-template ngx-datatable-header-template>
                      <span>Type of application</span>
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <span *ngIf="row.type == '1'">Broken</span>
                      <span *ngIf="row.type == '2'">Extend</span>
                      <span *ngIf="row.type == '3'">Lost</span>
                      <span *ngIf="row.type == '4'">New</span>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="status">
                    <ng-template ngx-datatable-header-template>
                      <span>Status</span>
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <span
                        *ngIf="row.status == '1'"
                        class="badge badge-pill badge-success"
                        >Approved</span
                      >
                      <span
                        *ngIf="row.status == '2'"
                        class="badge badge-pill badge-danger"
                        >Rejected</span
                      >
                      <span
                        *ngIf="row.status == '3'"
                        class="badge badge-pill badge-info"
                        >Pending</span
                      >
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column>
                    <ng-template ngx-datatable-header-template>
                      <span>View/Edit</span>
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <a
                        class="btn btn-sm btn-neutral"
                        (click)="openModal(kp_dpa)"
                      >
                        <i class="far fa-eye"></i>
                      </a>
                      <a class="btn btn-sm btn-success" (click)="confirm()">
                        <i class="fas fa-check text-white"></i>
                      </a>
                      <a class="btn btn-sm btn-warning" (click)="reject()">
                        <i class="fas fa-ban text-white"></i>
                      </a>
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
              </div>
            </tab>
            <tab heading="Visa">
              <div class="dataTables_wrapper py-4">
                <div class="row">
                  <div class="col">
                    <div class="dataTables_length" id="datatable_length">
                      <label>
                        Show
                        <select
                          name="datatable_length"
                          aria-controls="datatable"
                          class="form-control form-control-sm"
                          (change)="entriesChange($event)"
                        >
                          <option value="10" [selected]="entries == 10">
                            10
                          </option>
                          <option value="25" [selected]="entries == 25">
                            25
                          </option>
                          <option value="50" [selected]="entries == 50">
                            50
                          </option>
                          <option value="-1" [selected]="entries == -1">
                            All
                          </option>
                        </select>
                        entries
                      </label>
                    </div>
                  </div>
                  <div class="col-auto">
                    <a class="btn btn-sm btn-neutral" (click)="openModal(createUserVisa)">
                      New
                    </a>
                  </div>
                  <div class="col-auto">
                    <div id="datatable_filter" class="dataTables_filter">
                      <label>
                        <input
                          type="search"
                          class="form-control form-control-sm"
                          placeholder="Search records"
                          aria-controls="datatable"
                          (keyup)="filterTable($event)"
                        />
                      </label>
                    </div>
                  </div>
                </div>

                <ngx-datatable
                  class="bootstrap selection-cell"
                  [columnMode]="'force'"
                  [headerHeight]="50"
                  [footerHeight]="50"
                  [rowHeight]="'auto'"
                  [limit]="entries != -1 ? entries : undefined"
                  [rows]="temp"
                  (activate)="onActivate($event)"
                >
                  <ngx-datatable-column name="Name"></ngx-datatable-column>
                  <ngx-datatable-column name="office">
                    <ng-template ngx-datatable-header-template>
                      <span>Association</span>
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.office }}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="type"
                    ><ng-template ngx-datatable-header-template>
                      <span>Type of application</span>
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <span *ngIf="row.type == '1'">Exemption order</span>
                      <span *ngIf="row.type == '2'">Multiple entry</span>
                      <span *ngIf="row.type == '3'">Permit of stay</span>
                      <span *ngIf="row.type == '4'">Single entry</span>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="status">
                    <ng-template ngx-datatable-header-template>
                      <span>Status</span>
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <span
                        *ngIf="row.status == '1'"
                        class="badge badge-pill badge-success"
                        >Approved</span
                      >
                      <span
                        *ngIf="row.status == '2'"
                        class="badge badge-pill badge-danger"
                        >Rejected</span
                      >
                      <span
                        *ngIf="row.status == '3'"
                        class="badge badge-pill badge-info"
                        >Pending</span
                      >
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column>
                    <ng-template ngx-datatable-header-template>
                      <span>View/Edit</span>
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <a
                        class="btn btn-sm btn-neutral"
                        (click)="openModal(kp_dpa)"
                      >
                        <i class="far fa-eye"></i>
                      </a>
                      <a class="btn btn-sm btn-success" (click)="confirm()">
                        <i class="fas fa-check text-white"></i>
                      </a>
                      <a class="btn btn-sm btn-warning" (click)="reject()">
                        <i class="fas fa-ban text-white"></i>
                      </a>
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #createUserID>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      Create New Applicant
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="registerForm">
      <div class="form-group">
        <label class="form-control-label">Name</label>
        <input
          class="form-control"
          placeholder="Enter name"
          formControlName="name"
          type="text"
        />
        <ng-container *ngFor="let message of registerFormMessages.name">
          <div
            *ngIf="
              registerForm.get('name').hasError(message.type) &&
              (registerForm.get('name').dirty ||
                registerForm.get('name').touched)
            "
          >
            <p class="error-message">
              <span>{{ message.message }}</span>
            </p>
          </div>
        </ng-container>
      </div>
      <div class="form-group">
        <label class="form-control-label">ID/Passport number</label>
        <input
          class="form-control"
          placeholder="Passport number"
          formControlName="idnumber"
          type="text"
        />
      </div>
      <div class="form-group">
        <label class="form-control-label">Email</label>
        <input
          class="form-control"
          placeholder="Enter email"
          formControlName="email"
          type="text"
        />
        <ng-container *ngFor="let message of registerFormMessages.email">
          <div
            *ngIf="
              registerForm.get('email').hasError(message.type) &&
              (registerForm.get('email').dirty ||
                registerForm.get('email').touched)
            "
          >
            <p class="error-message">
              <span>{{ message.message }}</span>
            </p>
          </div>
        </ng-container>
      </div>
      <div class="form-group">
        <label class="form-control-label">Association</label>
        <input
          class="form-control"
          placeholder="Enter association/organisation"
          formControlName="association"
          type="text"
        />
      </div>
      <div class="form-group">
        <label class="form-control-label">Nationality</label>
        <input
          class="form-control"
          placeholder="Enter nationality"
          formControlName="association"
          type="text"
        />
      </div>
      <div class="form-group">
        <label class="form-control-label">Contact number</label>
        <input
          class="form-control"
          placeholder="Enter contact number"
          formControlName="contact-number"
          type="tel"
        />
      </div>
      <div class="form-group">
        <label class="form-control-label" for="idcard">
          Type of application
        </label>

        <select class="form-control" for="idcard">
          <option value="0">--Please choose</option>
          <option value="1">New</option>
          <option value="2">Extend</option>
          <option value="3">Lost</option>
          <option value="4">Broken</option>
        </select>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn btn-success" type="button" (click)="confirm()">
      Create
    </button>

    <button
      class="btn btn-outline-danger ml-auto"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      Close
    </button>
  </div>
</ng-template>

<ng-template #createUserVisa>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      Create New Applicant
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="registerForm">
      <div class="form-group">
        <label class="form-control-label">Name</label>
        <input
          class="form-control"
          placeholder="Enter name"
          formControlName="name"
          type="text"
        />
        <ng-container *ngFor="let message of registerFormMessages.name">
          <div
            *ngIf="
              registerForm.get('name').hasError(message.type) &&
              (registerForm.get('name').dirty ||
                registerForm.get('name').touched)
            "
          >
            <p class="error-message">
              <span>{{ message.message }}</span>
            </p>
          </div>
        </ng-container>
      </div>
      <div class="form-group">
        <label class="form-control-label">ID/Passport number</label>
        <input
          class="form-control"
          placeholder="Enter passport number"
          formControlName="idnumber"
          type="text"
        />
      </div>
      <div class="form-group">
        <label class="form-control-label">Email</label>
        <input
          class="form-control"
          placeholder="Enter email"
          formControlName="email"
          type="text"
        />
        <ng-container *ngFor="let message of registerFormMessages.email">
          <div
            *ngIf="
              registerForm.get('email').hasError(message.type) &&
              (registerForm.get('email').dirty ||
                registerForm.get('email').touched)
            "
          >
            <p class="error-message">
              <span>{{ message.message }}</span>
            </p>
          </div>
        </ng-container>
      </div>
      <div class="form-group">
        <label class="form-control-label">Association</label>
        <input
          class="form-control"
          placeholder="Enter association.organisation"
          formControlName="association"
          type="text"
        />
      </div>
      <div class="form-group">
        <label class="form-control-label">Nationality</label>
        <input
          class="form-control"
          placeholder="Enter nationality"
          formControlName="association"
          type="text"
        />
      </div>
      <div class="form-group">
        <label class="form-control-label">Contact number</label>
        <input
          class="form-control"
          placeholder="Enter contact number"
          formControlName="contact-number"
          type="tel"
        />
      </div>
      <div class="form-group">
        <label class="form-control-label" for="visa">
          Type of application
        </label>

        <select class="form-control" for="visa">
          <option value="0">--Please choose</option>
          <option value="1">Single entry</option>
          <option value="2">Multiple entry</option>
          <option value="3">Permit of stay</option>
          <option value="4">Exemption order</option>
        </select>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn btn-success" type="button" (click)="confirm()">
      Create
    </button>

    <button
      class="btn btn-outline-danger ml-auto"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      Close
    </button>
  </div>
</ng-template>
